apiVersion: v1
kind: Service

metadata:
  name: health-service
  labels:
    app: health-service

spec:
  type: NodePort

  selector:
    app: health-service

  ports:
  - port: 80
    targetPort: 8080
    nodePort: 30080
