operator:
  name: keda-operator
  replicaCount: 2

  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 500m
      memory: 512Mi

  podDisruptionBudget:
    minAvailable: 1

metricsServer:
  replicaCount: 1

  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 250m
      memory: 256Mi

webhooks:
  enabled: true
  replicaCount: 1

  resources:
    requests:
      cpu: 50m
      memory: 64Mi
    limits:
      cpu: 100m
      memory: 128Mi

serviceAccount:
  create: true
  name: keda-operator

podIdentity:
  activeDirectory:
    identity: ""
  aws:
    irsa:
      enabled: false

prometheus:
  metricServer:
    enabled: true
    port: 8080
    portName: metrics
    path: /metrics

  operator:
    enabled: true
    port: 8080
    path: /metrics

  webhooks:
    enabled: true
    port: 8080
    path: /metrics

logging:
  operator:
    level: info
    format: console
    timeEncoding: rfc3339

  metricServer:
    level: 0

  webhooks:
    level: info

nodeSelector: {}
tolerations: []
affinity:
  podAntiAffinity:
    preferredDuringSchedulingIgnoredDuringExecution:
      - weight: 100
        podAffinityTerm:
          labelSelector:
            matchExpressions:
              - key: app.kubernetes.io/name
                operator: In
                values:
                  - keda-operator
          topologyKey: kubernetes.io/hostname

extraEnvVars: []

certificates:
  autoGenerated: true
